name: Test periodically

on:
  schedule:
    - cron: "0 20 * * 1,4"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Download Pandoc
        run: wget
          https://github.com/jgm/pandoc/releases/download/3.1.11.1/pandoc-3.1.11.1-1-amd64.deb
      - name: Install Pandoc
        run: sudo dpkg -i pandoc-3.1.11.1-1-amd64.deb
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
